/* =================================  Teams page css ================================= */
#teamsPage{
    
    width: 95%;
    margin: auto;
    box-shadow: 0px 0px 10px 1px rgba(2, 26, 247, 0.247);
    padding: 5px;
}
/* heading on top */
#teamHeading{
    background-color: rgba(2, 26, 247, 0.6);
    color: rgb(255, 255, 255);
    border-left: solid 12px rgba(0, 14, 140, 0.7);
    padding: 7px;
}
/* Top user button */
.btn-group{
    float: right;
}
.dropdown-toggle::after {
    border-top: .4em solid;
    border-right: .4em solid transparent;
    border-bottom: 0;
    border-left: .4em solid transparent;
    
}
.userbtn{
    background-color: transparent;
    border: none;
    color: white;
}

.modal-title{
    color: rgba(2, 26, 247, 0.7);
}

#TeamName,#category,#users{
    width: 95%;
    margin: 2%;
    height: 45px;
    box-shadow: 0px 0px 10px 0px  rgb(192, 193, 204);
    border: none;
  border-bottom: inset 4px rgba(2, 27, 247, 0.7);
  outline: none;
}

#TeamName:hover,#category:hover,#users:hover{
    border: none;
    border-bottom: inset 4px rgba(211, 37, 37, 0.979);
    
}

.btn{
    font-weight: bold !important;
    border-width: 4px !important;
    border-style: inset !important;
}

.btn:hover{
    box-shadow: 0px 0px 25px 3px  rgba(146, 146, 148, 0.747) !important;
}


.team-cards-holder{
    /* display: none; */
    max-width: 800px;
    min-width: 200px;
    margin: auto !important;
}

.team-cards-holder a{
    text-decoration: none;
}

